@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  --Dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

/* product image styles */

.product--image__display {
  cursor: pointer;
}

.fade-in {
  animation: fadeInEffect 0.4s ease-in-out;
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.product--gallery__image {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.product--gallery__image:hover,
.product--gallery__image.active {
  opacity: 0.6;
}
